*{
    margin: 0;
    padding: 0;
}
/* CSS for Header Section */
header {
    background-color: #e554732e;
}
.banner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

}
.banner-img img {
    width: 70%;
    margin-top: 30px;
}
.slogan {
    font-size: 55px;
}
.banner-content {
    max-width: 500px;
    padding: 25px;
    margin-right: 200px;
}
.content-des{
    margin: 15px 0px;
    font-size: 20px;
    font-weight: 300;
}

.btn-theme {
    padding: 10px 15px;
    background:#E55473;
    color: #fff;
    border-radius: 5%;
    border: 1px solid #E55473;
}
 .btn-theme:hover{
    background-color: transparent;
    color: #E55473;
}
/* CSS for Special sections */

.special-sections{
    max-width: 1440px;
    margin: 0px auto;
}

/* featured section CSS */
.featured {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.featured-title {
    font-size: 40px;
}
.fea-des {
    margin-top: 10px;
    margin-bottom: 40px;
}

.featured-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.img-container img {
    height: 300px;
    width: 250px;
}


.featured-flower h5{
    margin-top: 15px;
    font-size: 18px;
}

.img-container{
    background-color: #ffc8d47c;
    border-radius: 170px 170px 0px 0px;
    padding: 100px 50px 0px 50px ;
}
.color-two{
    background-color: #c8f9ff8e;
}
.color-three{
    background-color: #cfc8ff71;
}

/* Delivery section CSS */

.delivery-section {
    background-color: #afc9c989;
    width: 980px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}
.deli-des {
    margin-top: 10px;
}

/* CSS for price table */
.price-table {
    margin: 50px auto;
    width: 1080px;
}
.table-title {
    text-align: center;
    margin: 25px 0px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #afc9c989;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #afc9c989;
  }

/* CSS for the Deal Section */
.deal {
    display: flex;
    justify-content: center;
    background-color: #e5547318;
    align-items: center;
    padding: 70px 0px;
}
.deal-details{
    text-align: center;
}
.deal-des {
    margin: 20px;
}
.deal-img-container {
    margin-left: 100px;
}
.deal-img {
    width: 80%;
}

/* CSS for Instagram section */
.instagram {
    text-align: center;
    padding: 50px 0px;
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 980px;
    margin: 0px auto;
}
.insta-details {
    margin: 30px;
}
.image-container img {
    width: 260px;
}


  /*  CSS for the Footer */
 footer{
    background-color: #000;
    color: #cccbcb;
    text-align: center;
    padding: 100px 0px;
 }

 footer h1 {
    font-size: 45px;
    font-weight: bolder;
 }
 .partTwo {
    color: #E55473;
 }

 .footer-des {
    margin: 15px 0px 25px 0px;
 }
 .copy-right {
    color: #979696;
 }
