*{
    margin: 0;
    padding: 0;
}
/* CSS for Header Section */
header {
    background-color: #e554732e;
}
.banner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

}
.banner-img img {
    width: 70%;
    margin-top: 30px;
}
.slogan {
    font-size: 55px;
}
.banner-content {
    max-width: 500px;
    padding: 25px;
    margin-right: 200px;
}
.content-des{
    margin: 15px 0px;
    font-size: 20px;
    font-weight: 300;
}

.btn-theme {
    padding: 10px 15px;
    background:#E55473;
    color: #fff;
    border-radius: 5%;
    border: 1px solid #E55473;
}
 .btn-theme:hover{
    background-color: transparent;
    color: #E55473;
}
/* CSS for Special sections */

.special-sections{
    max-width: 1440px;
    margin: 0px auto;
}

/* featured section CSS */
.featured {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.featured-title {
    font-size: 40px;
}
.fea-des {
    margin-top: 10px;
    margin-bottom: 40px;
}

.featured-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.img-container img {
    height: 300px;
    width: 250px;
}


.featured-flower h5{
    margin-top: 15px;
    font-size: 18px;
}

.img-container{
    background-color: #ffc8d47c;
    border-radius: 170px 170px 0px 0px;
    padding: 100px 50px 0px 50px ;
}
.color-two{
    background-color: #c8f9ff8e;
}
.color-three{
    background-color: #cfc8ff71;
}

/* Delivery section CSS */

.delivery-section {
    background-color: #afc9c989;
    width: 980px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}
.deli-des {
    margin-top: 10px;
}
